/* Global */
html {
  background-color: #2e2f32;
}

.App {
  text-align: center;
}

/* Nav */
nav {
  text-align: center;
}
.nav {
  color: white;
}

.test {
  display: flex;
  width: 80%;
  text-align: center;
  justify-content: space-between;
  margin: 3rem auto;
}

.merkleLogo {
  margin: 0 auto;
  text-align: center;
  padding: 1rem;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.inputContainer {
  width: 100%;
  text-align: center;
}
.inputGroup {
  padding: 1rem;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.cityState {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 1rem;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.newUserForm {
  text-align: center;
}

#userTable {
  width: 95%;
  margin: 0 auto;
  background-color: gray;
}

.input {
  background-color: lightgray;
}

.formErrors {
  font-size: 1rem;
  color: red;
}

#confirmCard {
  width: 40%;
  margin: 2rem auto;
  text-align: center;
  padding: 1rem;
  background-color: lightgray;
}

.userReportContainer {
  margin: 0 auto;
  text-align: center;
}

.errorCard {
  width: 50%;
  margin: 2rem auto;
  text-align: center;
  padding: 1.5rem;
}

.errorCardButtons {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
}

#homeCard {
  width: 45%;
  margin: 2rem auto;
  background-color: gray;
}

#regCard {
  width: 50%;
  margin: 0 auto;
  background-color: oldlace;
}
