/* Global */
html {
  background-color: #2e2f32;
}

.App {
  text-align: center;
}

/* Nav */
nav {
  text-align: center;
  padding: 0.5rem;
}
.nav {
  color: oldlace;
}

/* Home Page*/
#homeCard {
  width: 45%;
  margin: 2rem auto;
  background-color: gray;
}

.homeButtonContainer {
  display: flex;
  width: 80%;
  text-align: center;
  justify-content: space-between;
  margin: 3rem auto;
}

.merkleLogo {
  margin: 0 auto;
  text-align: center;
  padding: 1rem;
}

/* Registration Page*/
.newUserForm {
  text-align: center;
}

#regCard {
  width: 35%;
  margin: 2rem auto;
  background-color: oldlace;
  padding: 1.5rem;
}

.inputContainer {
  width: 100%;
  text-align: center;
}
.inputGroup {
  padding: 1rem;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.cityState {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 1rem;
  width: 75%;
  display: flex;
  justify-content: space-evenly;
}

.input {
  background-color: lightgray;
}

/* Confomation Page*/
#confirmCard {
  width: 40%;
  margin: 2rem auto;
  text-align: center;
  padding: 1rem;
  background-color: oldlace;
}

/* Error Page*/
#errorCard {
  width: 40%;
  margin: 2rem auto;
  text-align: center;
  padding: 1.5rem;
  background-color: oldlace;
}

.formErrors {
  font-size: 1rem;
  color: red;
}

.errorCardButtons {
  padding: 1rem;
  display: flex;
  justify-content: space-evenly;
}

/* Registered User Report*/
.userReportContainer {
  margin: 0 auto;
  text-align: center;
}
#userTable {
  width: 95%;
  margin: 0 auto;
  background-color: gray;
}
